body {
    background-color: #eeeeee;
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 60px;
    color: #009144;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 6px;
    text-transform: uppercase;

}

h2 {
    margin: 0;
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
}

h3 {
    margin: 0;
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    text-decoration: underline;
    text-decoration-color: #009144;
    line-height: 35px;
    
}

h4 {
    margin: 0;
    line-height: 60px;
    color: #ffffff;
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
}

h5 {
    margin: 0;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.alg-itms {
    align-items: center;
}

.alg-cntnt {
    align-content: center;

}

.jstf-center {
    justify-content: center;
}

.jstf-btw {
    justify-content: space-between;
}



.flt-left {
    float: left;
}

.flt-right {
    float: right;
}

.clearfix {
    clear: both;
}



.ornamento::after {
    content: url(img/ornamento.png);
    margin: 70px auto;
    display: flex;
    justify-content: center;
    
}

.menu a {
    font-size: 18px;
    color: #000000;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    
}


.menu a:hover {
    text-decoration: underline;
    text-decoration-color: #009144;
}

.box-verde {
    width: 720px;
    height: 250px;
    background-color: rgba(0, 145, 68, 0.8);
    color: #ffffff;
}

.box-verde img {
    margin-right: 30px;
}

.box-verde h2 {
    padding-top: 30px;
}

.box-verde img {
    float: left;
}

.box-vermelho {
    width: 720px;
    height: 250px;
    background-color: rgba(207, 42, 56, 0.8);
    color: #ffffff;
}

.box-vermelho img {
    float: right;
}

.box-texto {
    width: 420px;
    margin-top: 30px;
    margin-left: 30px;
}

.benidos {
    font-size: 18px;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #30a466;
    text-transform: uppercase;
}

.apresentacao {
    position: relative;

}

.top-60 {
    top: -60px;

}

.top-40 {
    top: -40px;

}

.cardapio-home {
    background-color: #ffffff;
    width: 500px;
    height: 250px;
}

.texto-cardap {
    padding-left: 15px;
    box-sizing: border-box;
    width: 250px;
    height: 250px;
}

.paddingtop-15 {
    padding-top: 15px;
}

.btn {
    background-color: #cf2a38;
    padding: 16px 24px;
    border-radius: 0 10px 10px 10px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin: 50px auto 0 auto;;
    
    
}

#logo img {
    display: inline-block;
    padding: 10px 0;
}

#topo {
    width: 100%;
    position: absolute;
}

#banner {
    width: 100%;
    height: 550px;
    background-image: url(img/banner.jpg);
    text-align: center;
    background-size: cover;
    
}

#banner p {
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;;
    font-kerning: none;
    font-weight: bold;
    margin: 0;
    
    
}


#faixa-especialidade {
    background-image: url(img/especialidades-home.jpg);
    height: 200px;
    background-size: cover;
}

#faixa-especialidade h2 {
    color: #009144;
    font-size: 60px; 
}

#faixa-cardapio {
    background-image: url(img/cardapio-home.jpg);
    height: 200px;
    background-size: cover;
}

#faixa-cardapio h2 {
    color: #009144;
    font-size: 60px; 
}


#delivery {
    background-color: rgba(0, 145, 68, 0.5);
    width: 100%;
    height: 300px;
}

#delivery p {
    color: #ffffff;
    width: 250px;
    margin-right: 35px;
}


#rodape {
    padding: 35px 0;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;

}

#icones-rodape {
    width: 145px;
    
}

#icones-rodape a {
    text-decoration: none;
}



